.header {
  box-sizing: border-box;
    
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  
  background: #f5f4f5;
  border-bottom: 1px solid #d6d4d6;

  z-index: 10;
}

.pokelogo {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    max-width: 920px;
    gap: 12px;
    height: 80px;

}
